{% extends "control/control_base.html" %}

{% comment %}
<Program>
  associate_error.html

<Author>
  Originally by:
  Gaetano Pressimone 2012
  
<Purpose>
  Django template file for Seattle Clearinghouse's 'associate_error' page.
  If an error occured during the OpenId/OAuth association process a user will get
  redirected here. 

<Extends>
  control/control_base.html

<Stylesheet>

<Scripts>
  None

<Template Variables>
  backend:
		An OpenID/OAuth backend ex google,facebook etc.
  messages:
    error messages
	
{% endcomment %}

{% block heading %}Error!{% endblock %}
{{ block.super }}
{% block nav_login %}
<td class="active"><a href="{% url login %}">Login</a></td>
{% endblock nav_login %}
{% block content %}

<div id="middle">
</br>
  <p>Sorry but this <strong> {{backend}} </strong> account is already associated and in use by another Seattle Clearninghouse user.</p>

  {% if messages %}
    {% for msg in messages %}
        <p class="warning2">{{ msg.message }} ({{ msg.extra_tags }})</p>
    {% endfor %}
  {% endif %}
  
  <p>Please try again <a href="{% url profile %}">Profile</a></p>
</div>
{% endblock %}
